<div id="toubu">
    <div class="toubu_yi">
        <p>微博</p>
    </div>
    <div class="toubu_er">
        <ul>
            <li><a href="#">私信</a></li>
            <li><a href="#">通知</a></li>
            <li><a href="/Cheng/AccountSettings">账户设置</a></li>
            <li><a href="/Cheng/tuichu">退出</a></li>
        </ul>
    </div>
</div>
<div id="sousuokuamg">
    <div class="sousuokuamg_kuai">
        <ul>
            <li><a href="/Tang/MyHomePage">我的首页</a></li>
            <li>|</li>
            <li><a href="/Tang/MyMicroblog">我的微博</a></li>
            <li>|</li>
            <li><a href="#">好友</a></li>
            <li>|</li>
            <li><a href="#">模板</a></li>
            <li>
                <input type="text" placeholder="搜索微博，找人" name="sousuokuang" class="sousuo" />
                <input type="submit" value="搜索" class="sousuoanniu" />
            </li>
        </ul>
    </div>
</div>