<div id="daohang">
    <div class="daohang_ziliao">
        <ul>
            <li><a href="#">所有分组</a></li>
            <li><a href="#">相互关注</a></li>
            <li><a href="#">更多</a></li>
        </ul>
    </div>

</div>
<div id="daohang_xinxi">
    <div class="daohang_xinxi_wuxu">
        <ul>
            <li><a href="#">全部</a></li>
            <li>|</li>
            <li><a href="#">图片</a></li>
            <li>|</li>
            <li><a href="#">视频</a></li>
            <li>|</li>
            <li><a href="#">音乐</a></li>
        </ul>
    </div>
</div>
