
@{
    ViewBag.Title = "MyHomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="content">
    <div id="left">
        <div id="editor">
            <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
            <script type="text/javascript">
                var E = window.wangEditor
                var editor = new E('#editor')
                // 或者 var editor = new E( document.getElementById('editor') )
                editor.create()
            </script>
        </div>
        
    </div>
    <div id="right">
        <div id="usermess">
            <img src="~/resource/blogcover1.jpg" class="headphoto" />
            <p class="infodesc"> 用户<br />
                湖南省，岳阳市
            </p>
        </div>
        <div id="guanzhu">
            <ul id="yi" >
                <li><a>0</a></li>
                <li><a>0</a></li>
                <li><a>0</a></li>
            </ul>
            <div id="wuxu_er">
                <ul id="er">
                    <li><a>关注</a></li>
                    <li><a>粉丝</a></li>
                    <li><a>微博</a></li>
                </ul>
            </div>
        </div>
        <div id="textlable">
            <p><a>我的首页</a></p>
            <p><a>@@提到我的</a></p>
            <p><a>我的评论</a></p>
            <p><a>我的收藏</a></p>
        </div>
        <div id="myfan">
            <p><a>我的粉丝(0)</a></p>
        </div>
        <div id="myguanzhu">
            <p><a>我关注的</a></p>
        </div>
    </div>
</div>