<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/ChengAccount Settings.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>@Html.Partial("_Account Settings_toubu")</div>
    <div>
        @RenderBody()
    </div>
    <div></div>
</body>
</html>
