<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/ChengAccount Settings.css" rel="stylesheet" />
    @*<link href="~/Content/ChengAccount_dibu.css" rel="stylesheet" />*@
    <link href="~/Content/Cheng-dibuyangshi.css" rel="stylesheet" />
    <link href="~/Content/Chengxinxi.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <div>@Html.Partial("_Account Settings_toubu")</div>
    <div>
        @RenderBody()
    </div>
    <div>@Html.Partial("_Account Settings_dibu")</div>
</body>
</html>
