<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/TangMyHomePage.css" rel="stylesheet" />
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body id="body">
    @Html.Partial("_HeaderNav")
    <div>
        @RenderBody()
    </div>
    <script>
        window.onload = function () {
            var url = "@TempData["url"]";
            var company = document.getElementById('body');
            company.style.backgroundImage = "url('" + url + "')";
        }
    </script>
</body>
</html>
