<div id="Account_dibu">
    <ul>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
        <li><a href="#">广告位</a></li>
    </ul>
    <div id="Account_dibu_dibuwenzi">
        <span class="left">AAAAAAAA</span>
        <span class="right">BBBBBBBBBBBBBBBBBBBBBBB</span>
    </div>
</div>
