<div id="toubu">
    <div class="toubu_yi">
        <p>微博</p>
    </div>
    <div class="toubu_er">
        <ul>
            <li><a href="#">私信</a></li>
            <li><a href="#">通知</a></li>
            <li><a href="#">账户设置</a></li>
            <li><a href="#">退出</a></li>
        </ul>
    </div>
</div>
<div id="sousuokuamg">
    <div class="sousuokuamg_kuai">
        <ul>
            <li><a href="#">我的设置</a></li>
            <li>|</li>
            <li><a href="#">我的首页</a></li>
            <li>|</li>
            <li><a href="#">我的微博</a></li>
            <li>|</li>
            <li><a href="#">好友</a></li>
            <li>|</li>
            <li><a href="#">模板</a></li>
            <li><input type="text" placeholder="搜索微博，找人" name="sousuokuang" class="sousuo" /><input type="submit" value="搜索" class="sousuoanniu" /></li>
        </ul>
    </div>
</div>
<div id="daohang">
    <div class="daohang_ziliao">
        <ul>
            <li><a href="#">个人资料</a></li>
            <li><a href="#">修改头像</a></li>
            <li><a href="#">隐私设置</a></li>
            <li><a href="#">个性设置</a></li>
        </ul>
    </div>

</div>
<div id="daohang_xinxi">
    <div class="daohang_xinxi_wuxu">
        <ul>
            <li><a href="/Cheng/AccountSettings">基本信息</a></li>
            <li>|</li>
            <li>
                <a href="/Cheng/xiugai">修改密码</a>
            </li>
            <li>|</li>
            <li><a href="#">教育信息</a></li>
            <li>|</li>
            <li><a href="#">职业信息</a></li>
            <li>|</li>
            <li><a href="#">个人标签</a></li>
            <li>|</li>
            <li><a href="#">个性签名</a></li>
            <li>|</li>
        </ul>
    </div>
</div>