body {
    background-color: #ddf3f7;
}

* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}

#toubu {
    width: 100%;
    height: 50px;
    /*border: 1px solid red;*/
    background-color: #ceeef4;
    display: flex;
}

.toubu_yi {
    flex: 1;
    /*border: 1px solid red;*/
    line-height: 50px;
}

    .toubu_yi p {
        padding-left: 300px;
        color: #53a9d9;
    }

.toubu_er {
    flex: 1;
    line-height: 50px;
    /*border: 1px solid red;*/
}

    .toubu_er ul {
        list-style: none;
        padding-left: 200px;
    }

        .toubu_er ul li {
            float: left;
            padding-left: 30px;
        }

            .toubu_er ul li a {
                text-decoration: none;
                color: #53a9d9;
            }

#sousuokuamg {
    width: 100%;
    height: 100px;
    /*border: 1px solid red;*/
}

.sousuokuamg_kuai {
    width: 500px;
    height: 40px;
    line-height: 40px;
    /*border: 1px solid red;*/
    float: right;
    margin-top: 60px;
    margin-right: 230px;
    background-color: #75cee3;
}

    .sousuokuamg_kuai ul {
        list-style: none;
    }

        .sousuokuamg_kuai ul li {
            float: left;
            padding-left: 5px;
            color: #f8f5f5;
        }

            .sousuokuamg_kuai ul li a {
                text-decoration: none;
                color: #f8f5f5;
            }

.sousuo {
    width: 150px;
    height: 25px;
    border: none;
}

.sousuoanniu {
    width: 60px;
    height: 25px;
    border: none;
    vertical-align: top;
    margin-top: 9.5px;
    margin-left: 2px;
    background: linear-gradient(#e6f4f5,#bdebf2);
    color: #329cd5;
}



#content {
    width: 70%;
    height: 1500px;
    background-color: white;
    margin: 0 auto;
}
#left {
    float: left;
    width: 73%;
    height: 100%;
}
#left-top{
    height:300px;
}
#headphoto {
    float: left;
    margin: 24px 0 0 24px;
}
    #headphoto img{
        width:240px;
        height:240px;
    }
#messagesinfo {
    float: left;
}
    #messagesinfo p {
        margin: 36px 0 0 20px;
    }
    #messagesinfo h3{
        margin:36px 0 0 20px;
    }
.guanzhubutton {
    width: 110px;
    height: 34px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(#9adf28, #589a02);
    color: #ffffff;
    margin: 20px 0 0 20px;
}
.yiguanzhu {
    width: 110px;
    height: 34px;
    border-radius: 5px;
    border: none;
    color:black;
    margin: 20px 0 0 20px;
}

#faweibo {
    float: right;
    margin:36px 20px 0 0;
    display:block;
    width:120px;
    height:45px;
    border-radius:10px;
    background-color: coral;
    text-align:center;
    line-height:45px;
    font-size:18px;
    color: white;
}
.fabu {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(#9adf28, #589a02);
    color: #ffffff;
    font-size: 15px;
    position: relative;
    left: 75%;
    margin-top: 39px;
}


#left-buttom{
    height:1000px;
}



.showWeibo {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 8px;
}

.showWeibotop {
    margin-left:6%;
}

    .showWeibotop img {
        height: 50px;
        width: 50px;
    }

.showWeibobuttom {
    margin-top: 40px;
    margin-left: 120px;
    height: 35px;
}

    .showWeibobuttom span {
        margin-right: 160px;
    }

    .showWeibobuttom a {
        margin: 0 10px;
    }


.shiyongweiboderen {
    width: 100%;
    height: 200px;
    /*border:1px solid red;*/
}

.touxiang {
    /*border:1px solid red;*/
    margin-top: 10px;
    float: left;
}

    .touxiang dl {
        padding-left: 10px;
        padding-top: 10px;
        text-align: center;
    }

        .touxiang dl dd {
            line-height: 20px;
        }


.isHide {
    display: none;
}

.pinglun {
    width: 580px;
    /*    height: 200px;*/
    background-color: #9e9e9ea6;
    border-radius: 15px;
    float: right;
    margin: 0 38px 20px 0;
}

.pinglun_top {
    height: 80px;
    border-bottom: 1px dotted #e6e6e6;
}

.pinglunkuang {
    width: 390px;
    height: 26px;
    margin: 20px 0 0 60px;
}

.pinglunanniu {
    width: 100px;
    height: 30px;
    margin: 20px 0 0 10px;
}

.pinglun_buttom {
}

    .pinglun_buttom img {
        width: 50px;
        height: 50px;
    }


/*弹出框*/

.kuangkuang {
    position: fixed;
    left: 0px;
    top: 0px;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.98;
    z-index: 99999;
}
.zhezhao {
    position: fixed;
    left: 0px;
    top: 0px;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.88;
    z-index: 99999;
}

.tankuang {
    position: relative;
    background: #fff;
    width: 40%;
    height: 55%;
    border-radius: 5px;
    margin: 10% auto;
}

#header {
    height: 40px;
}

#header-right {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: red;
    color: #fff;
    right: 5px;
    top: 5px;
    text-align: center;
}

/*弹出框*/




#right {
    float: right;
    width: 27%;
    height: 100%;
    background-color: lightblue;
}
.headphoto {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
}
.infodesc {
    float: right;
    margin-right: 50px;
    margin-top: 30px;
}

#guanzhu {
    margin-top: 50px;
    height: 50px;
}

#yi {
    padding-bottom: 30px;
    margin-left: 42px;
}

#er {
    padding-bottom: 30px;
    margin-left: 10px;
}

#wuxu_er {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin: 0px auto;
}

#yi li {
    list-style: none;
    float: left;
    line-height: 5px;
    padding-left: 5px;
    font-size: 20px;
    color: #000000;
    font-family: "微软雅黑";
    font-weight: bold;
    margin-left: 30px;
}

#er li {
    list-style: none;
    float: left;
    line-height: 5px;
    padding-left: 15px;
    font-size: 15px;
    color: #000000;
    font-family: "微软雅黑";
    font-weight: bold;
}


#myfan{
    margin:42px 0 0 30px;
}
.shiyongweiboderen {
    width: 100%;
    height: 200px;
    /*border:1px solid red;*/
}

#myguanzhu {
    margin-left:30px;
}
.touxiang {
    /*border:1px solid red;*/
    margin-top: 10px;
    float: left;
}

    .touxiang dl {
        padding-left: 10px;
        padding-top: 10px;
        text-align: center;
    }

        .touxiang dl dd {
            line-height: 20px;
        }


/*粉丝视图样式*/

.gzList {
    margin: 25px 0 0 20px;
    border-bottom: dotted;
}
.gzList_info {
    float: left;
    margin: 25px 0 0 20px;
}
.gzList_info_fensi{
    margin-left:25px;
    font-size:12px;
}

.guanzhulist{
    float:right;
    margin:0 0 20px 300px;
}


#weibuttom {
    height: 90px;
    width: 100%;
    margin: 0 auto;
    line-height: 60px;
    background-color: lightcyan;
    margin-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.weibospan_yi {
    float: left;
}

.weibospan_er {
    float: right;
}